.packages
  padding: 40px 0 70px 0
  &-item
    background-color: $dark
    color: $light
    padding-left: 21px
  &-rating
    margin-bottom: 46px
    margin-bottom: 5px
  
  &-wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-content: space-between
  &-text
    max-width: 299px
  &__card
    
    display: flex
    width: 350px
    height: 500px
    border-radius: 4px
    overflow: hidden
    grid-column-gap: 30px
    grid-row-gap: 30px
  &-card
    display: flex
    flex-direction: 
    width: 730px
    height: 500px
    grid-column-start: 1
    grid-column-end: 3
    border-radius: 4px
    overflow: hidden
    grid-column-gap: 0
    &__title
      margin-bottom: 27px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
